body {
    font-family: Helvetica,Arial, sans-serif;
	color: aqua;
}

h1 {
    color: #3a241d;
    text-align: center;
}

/*div {
    background-color: aqua;
}*/

#contenedor-izquierdo {
    left: 0px;
}

#contenedor-derecho {
    right: 0px;
}

.contenedor {
	background-color: #eee;
    width: 15%;
    height: 100%;
    top: 0px;
    /*position: absolute;*/
    padding: 10px;
}

.contenedor-componente{
    position: relative;
    height: 10.5%;
    left: 20%;
}


.componente {
	position: absolute;
	max-width: 20%;
	max-height: 20%;
	z-index: 5;
}

.cielo {
	height: 90%;
	width: 60%;
	background: rgb(3, 227, 243);
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.suelo {
	width: 60%;
	height: 60%;
	background: rgba(34, 240, 3, 0.822);
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.9;
	z-index: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content:center;
}
